<h1>Display your Pirate here</h1>
    <p>Pirate Name: <%= @pirate.name%></p>
    <p>Pirate Weight: <%= @pirate.weight%></p>
    <p>Pirate Height: <%= @pirate.height%></p>
<h2>Display your first ship here</h2>
    <p>First Ship Name: <%= @ships.first.name%></p>
    <p>First Ship Type: <%= @ships.first.type%></p>
    <p>First Ship Booty: <%= @ships.first.booty%></p>

<h2>Display your second ship here</h2>
    <p>Second Ship Name: <%= @ships.last.name%></p>
    <p>Second Ship Type: <%= @ships.last.type%></p>
    <p>Second Ship Booty: <%= @ships.last.booty%></p>